<div class="container pt-lg-2 pb-5 mb-md-3">
    <h2 class="h3 text-center pb-4">You may also like</h2>
    <div class="tns-carousel tns-controls-static tns-controls-outside">
        <div class="tns-outer" id="tns1-ow">
            <div class="tns-controls" aria-label="Carousel Navigation" tabindex="0">
                <button type="button" data-controls="prev" tabindex="-1" aria-controls="tns1"><i class="ci-arrow-left"></i></button>
                <button type="button" data-controls="next" tabindex="-1" aria-controls="tns1"><i class="ci-arrow-right"></i></button>
            </div>
            <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span class="current">9 to 12</span> of 5</div>
            <div id="tns1-mw" class="tns-ovh">
                <div class="tns-inner" id="tns1-iw">
                    <div class="tns-carousel-inner  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal"
                         data-carousel-options="{&quot;items&quot;: 2, &quot;controls&quot;: true, &quot;nav&quot;: false, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;500&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 18},&quot;768&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 20}, &quot;1100&quot;:{&quot;items&quot;:4, &quot;gutter&quot;: 30}}}"
                         id="tns1" style="transition-duration: 0s; transform: translate3d(-38.0952%, 0px, 0px);">

                        {% for product in related_products %}
                            <div class="tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                <div class="card product-card card-static">
                                    <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Add to wishlist"
                                            data-bs-original-title="Add to wishlist"><i class="ci-heart"></i></button>
                                    <a class="card-img-top d-block overflow-hidden" href="{% url 'products:product' product.slug %}"><img src="{{ product.image.url }}" alt="Product"></a>
                                    <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">{{ product.categories.first }}</a>
                                        <h3 class="product-title fs-sm"><a href="{% url 'products:product' product.slug %}">{{ product.name }}</a></h3>
                                        <div class="d-flex justify-content-between">
                                            <div class="product-price text-accent">${{ product.default_variant.price }}</div>

                                            <div class="star-rating">

                                                {% for star in product.get_stars %}
                                                    {% if star == 1 %}
                                                        <i class="star-rating-icon ci-star-filled active"></i>
                                                    {% elif star == 0.5 %}
                                                        <i class="star-rating-icon ci-star-half active"></i>
                                                    {% else %}
                                                        <i class="star-rating-icon ci-star"></i>
                                                    {% endif %}
                                                {% endfor %}

                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>