{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" media="screen" href="{% static 'vendor/lightgallery/css/lightgallery-bundle.min.css' %}"/>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'vendor/lightgallery/lightgallery.min.js' %}"></script>
    <script src="{% static 'vendor/lightgallery/plugins/video/lg-video.min.js' %}"></script>
{% endblock %}
{% block content %}
    <!-- Hero (Banners + Slider)-->
    {% include 'home/sections/hero.html' %}

    <!-- Products grid (Trending products)-->
    {% include 'home/sections/product_grid.html' %}
    {% include 'home/quick_view_modal.html' %}

    <!-- Promo banner-->
    {% include 'home/sections/promo_banner.html' %}

    <!-- Brands carousel-->
    {% include 'home/sections/brand_carousel.html' %}

    <!-- Product widgets-->
    {% include 'home/sections/product_widget.html' %}

    <!-- YouTube feed-->
    {% include 'home/sections/youtube_feed.html' %}

    <!-- Blog + Instagram info cards-->
    {% include 'home/sections/blog_instagram_cards.html' %}
{% endblock %}