{% load static %}
<section class="bg-secondary py-4 pt-md-5">
    <div class="container py-xl-2">
        <div class="row">
            <!-- Slider     -->
            <div class="col-xl-9 pt-xl-4 order-xl-2">
                <div class="tns-carousel">
                    <div class="tns-outer" id="tns1-ow">
                        <div aria-atomic="true" aria-live="polite" class="tns-liveregion tns-visually-hidden">slide <span class="current">1</span> of 3</div>
                        <div class="tns-ovh" id="tns1-mw">
                            <div class="tns-inner" id="tns1-iw">
                                <div class="tns-carousel-inner tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" data-carousel-options='{"items": 1, "controls": false, "loop": false}'
                                     id="tns1" style="transition-duration: 0s; transform: translate3d(0%, 0px, 0px);">
                                    <div class="tns-item tns-slide-active" id="tns1-item0">
                                        <div class="row align-items-center">
                                            <div class="col-md-6 order-md-2"><img alt="VR Collection" class="d-block mx-auto" src="{% static 'img/home/hero-slider/05.jpg' %}"/></div>
                                            <div class="col-lg-5 col-md-6 offset-lg-1 order-md-1 pt-4 pb-md-4 text-center text-md-start">
                                                <h2 class="fw-light pb-1 from-bottom">World of music with</h2>
                                                <h1 class="display-4 from-bottom delay-1">Headphones</h1>
                                                <h5 class="fw-light pb-3 from-bottom delay-2">Choose between top brands</h5>
                                                <div class="d-table scale-up delay-4 mx-auto mx-md-0"><a class="btn btn-primary btn-shadow" href="{% url 'products:products' %}">Shop Now<i
                                                        class="ci-arrow-right ms-2 me-n1"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div aria-hidden="true" class="tns-item" id="tns1-item1" tabindex="-1">
                                        <div class="row align-items-center">
                                            <div class="col-md-6 order-md-2"><img alt="VR Collection" class="d-block mx-auto" src="{% static 'img/home/hero-slider/04.jpg' %}"/></div>
                                            <div class="col-lg-5 col-md-6 offset-lg-1 order-md-1 pt-4 pb-md-4 text-center text-md-start">
                                                <h2 class="fw-light pb-1 from-start">Explore the best</h2>
                                                <h1 class="display-4 from-start delay-1">VR Collection</h1>
                                                <h5 class="fw-light pb-3 from-start delay-2">on the market</h5>
                                                <div class="d-table scale-up delay-4 mx-auto mx-md-0"><a class="btn btn-primary btn-shadow" href="{% url 'products:products' %}">Shop Now<i
                                                        class="ci-arrow-right ms-2 me-n1"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div aria-hidden="true" class="tns-item" id="tns1-item2" tabindex="-1">
                                        <div class="row align-items-center">
                                            <div class="col-md-6 order-md-2"><img alt="VR Collection" class="d-block mx-auto" src="{% static 'img/home/hero-slider/06.jpg' %}"/></div>
                                            <div class="col-lg-5 col-md-6 offset-lg-1 order-md-1 pt-4 pb-md-4 text-center text-md-start">
                                                <h2 class="fw-light pb-1 scale-up">Check our huge</h2>
                                                <h1 class="display-4 scale-up delay-1">Smartphones</h1>
                                                <h5 class="fw-light pb-3 scale-up delay-2">&amp; Accessories collection</h5>
                                                <div class="d-table scale-up delay-4 mx-auto mx-md-0"><a class="btn btn-primary btn-shadow" href="{% url 'products:products' %}">Shop Now<i
                                                        class="ci-arrow-right ms-2 me-n1"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
{#                        <div aria-label="Carousel Pagination" class="tns-nav">#}
{#                            <button aria-controls="tns1" aria-label="Carousel Page 1 (Current Slide)" class="tns-nav-active" data-nav="0" style="" type="button"></button>#}
{#                            <button aria-controls="tns1" aria-label="Carousel Page 2" data-nav="1" style="" tabindex="-1" type="button"></button>#}
{#                            <button aria-controls="tns1" aria-label="Carousel Page 3" data-nav="2" style="" tabindex="-1" type="button"></button>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
            <!-- Banner group-->
            <div class="col-xl-3 order-xl-1 pt-4 mt-3 mt-xl-0 pt-xl-0">
                <div class="table-responsive" data-simplebar="init">
                    <div class="simplebar-wrapper" style="margin: 0px -16px 0px 0px;">
                        <div class="simplebar-height-auto-observer-wrapper">
                            <div class="simplebar-height-auto-observer"></div>
                        </div>
                        <div class="simplebar-mask">
                            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                <div aria-label="scrollable content" class="simplebar-content-wrapper" role="region" style="height: auto; overflow: hidden;" tabindex="0">
                                    <div class="simplebar-content" style="padding: 0px 16px 0px 0px;">
                                        <div class="d-flex d-xl-block">
                                            <a class="d-flex align-items-center bg-faded-info rounded-3 pt-2 ps-2 mb-4 me-4 me-xl-0" href="{% url 'products:products' %}" style="min-width: 16rem;"><img
                                                alt="Banner" src="{% static 'img/home/banners/banner-sm01.png' %}" width="125"/>
                                                <div class="py-4 px-2">
                                                <h5 class="mb-2"><span class="fw-light">Next Gen</span><br/>Video <span class="fw-light">with</span><br/>360 Cam</h5>
                                                <div class="text-info fs-sm">Shop now<i class="ci-arrow-right fs-xs ms-1"></i></div>
                                            </div>
                                        </a><a class="d-flex align-items-center bg-faded-warning rounded-3 pt-2 ps-2 mb-4 me-4 me-xl-0" href="{% url 'products:products' %}" style="min-width: 16rem;"><img alt="Banner"
                                                                                                                                                                                src="{% static 'img/home/banners/banner-sm02.png' %}"
                                                                                                                                                                                width="125"/>
                                            <div class="py-4 px-2">
                                                <h5 class="mb-2"><span class="fw-light">Top Rated</span><br/>Gadgets<br/><span class="fw-light">are on </span>Sale</h5>
                                                <div class="text-warning fs-sm">Shop now<i class="ci-arrow-right fs-xs ms-1"></i></div>
                                            </div>
                                        </a><a class="d-flex align-items-center bg-faded-success rounded-3 pt-2 ps-2 mb-4" href="{% url 'products:products' %}" style="min-width: 16rem;"><img alt="Banner"
                                                                                                                                                                   src="{% static 'img/home/banners/banner-sm03.png' %}"
                                                                                                                                                                   width="125"/>
                                            <div class="py-4 px-2">
                                                <h5 class="mb-2"><span class="fw-light">Catch Big</span><br/>Deals <span class="fw-light">on</span><br/>Earbuds</h5>
                                                <div class="text-success fs-sm">Shop now<i class="ci-arrow-right fs-xs ms-1"></i></div>
                                            </div>
                                        </a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="simplebar-placeholder" style="width: auto; height: 552px;"></div>
                    </div>
                    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                        <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                    </div>
                    <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
                        <div class="simplebar-scrollbar" style="height: 0px; display: none;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>