{% load static %}
<section class="container pb-4 pb-md-5">
    <div class="row">
        <!-- Bestsellers-->
        <div class="col-md-4 col-sm-6 mb-2 py-3">
            <div class="widget">
                <h3 class="widget-title">Bestsellers</h3>

                {% for product in products %}
                    {% if forloop.counter <= 5 %}
                        <div class="d-flex align-items-center pb-2 border-bottom"><a class="d-block flex-shrink-0" href="{% url 'products:product' product.slug %}"><img alt="Product"
                                                                                                                                           src="{{ product.image.url }}" width="64"/></a>
                            <div class="ps-2">
                                <h6 class="widget-product-title"><a href="{% url 'products:product' product.slug %}">{{ product.name }}</a></h6>
                                <div class="widget-product-meta"><span class="text-accent">${{ product.default_variant.price }}</span></div>
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}

                <p class="mb-0">...</p><a class="fs-sm" href="{% url 'products:products' %}">View more<i class="ci-arrow-right fs-xs ms-1"></i></a>
            </div>
        </div>
        <!-- New arrivals-->
        <div class="col-md-4 col-sm-6 mb-2 py-3">
            <div class="widget">
                <h3 class="widget-title">New arrivals</h3>

                {% for product in products %}
                    {% if forloop.counter <= 5 %}
                        <div class="d-flex align-items-center pb-2 border-bottom"><a class="d-block flex-shrink-0" href="{% url 'products:product' product.slug %}"><img alt="Product"
                                                                                                                                           src="{{ product.image.url }}" width="64"/></a>
                            <div class="ps-2">
                                <h6 class="widget-product-title"><a href="{% url 'products:product' product.slug %}">{{ product.name }}</a></h6>
                                <div class="widget-product-meta"><span class="text-accent">${{ product.default_variant.price }}</span></div>
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}

                <p class="mb-0">...</p><a class="fs-sm" href="{% url 'products:products' %}">View more<i class="ci-arrow-right fs-xs ms-1"></i></a>
            </div>
        </div>
        <!-- Top rated-->
        <div class="col-md-4 col-sm-6 mb-2 py-3">
            <div class="widget">
                <h3 class="widget-title">Top rated</h3>

                {% for product in products %}
                    {% if forloop.counter <= 5 %}
                        <div class="d-flex align-items-center pb-2 border-bottom"><a class="d-block flex-shrink-0" href="{% url 'products:product' product.slug %}"><img alt="Product"
                                                                                                                                           src="{{ product.image.url }}" width="64"/></a>
                            <div class="ps-2">
                                <h6 class="widget-product-title"><a href="{% url 'products:product' product.slug %}">{{ product.name }}</a></h6>
                                <div class="widget-product-meta"><span class="text-accent">${{ product.default_variant.price }}</span></div>
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}

                <p class="mb-0">...</p><a class="fs-sm" href="{% url 'products:products' %}">View more<i class="ci-arrow-right fs-xs ms-1"></i></a>
            </div>
        </div>
    </div>
</section>