{% load static %}
<section class="container pb-5 mb-md-3">
    <div class="border rounded-3 p-3">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="bg-secondary p-5 text-center"><img alt="YouTube" class="d-block mb-4 mx-auto" src="{% static 'img/home/yt-logo.png' %}" width="120"/>
                    <div class="d-flex justify-content-center align-items-center mb-4"><img alt="YouTube Subscribers" class="me-2" src="{% static 'img/home/yt-subscribers.png' %}" width="126"/><span
                            class="fs-sm">250k+</span>
                    </div>
                    <a class="btn btn-primary border-0 btn-sm mb-3" href="#" style="background-color: #ff0000;"><i class="ci-add-user me-2"></i>Subscribe*</a>
                    <p class="fs-sm mb-0">*View latest gadgets reviews available for purchase in our store.</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="d-flex flex-wrap justify-content-between align-items-center pt-3 pb-2">
                    <h2 class="h4 mb-3">Latest videos from Cartzilla channel</h2><a class="btn btn-outline-accent btn-sm mb-3" href="#">More videos<i class="ci-arrow-right fs-xs ms-1 me-n1"></i></a>
                </div>
                <div class="row g-0">
                    <div class="col-lg-4 col-6 mb-3"><a class="d-block text-decoration-0 px-2" data-bs-toggle="video" data-lg-id="cb1feda1-0274-455c-84a7-b7df94cb0f44"
                                                        href="https://www.youtube.com/embed/vS93u75NnPo">
                        <div class="position-relative mb-2"><span class="badge bg-dark position-absolute bottom-0 end-0 mb-2 me-2">6:16</span><img alt="Video cover" class="w-100"
                                                                                                                                                   src="{% static 'img/home/video/cover01.jpg' %}"/>
                        </div>
                        <h6 class="fs-sm pt-1">5 New Cool Gadgets You Must See on Cartzilla - Cheap Budget</h6></a></div>
                    <div class="col-lg-4 col-6 mb-3"><a class="d-block text-decoration-0 px-2" data-bs-toggle="video" data-lg-id="a533399a-7fdc-422d-943d-bf0b490d2033"
                                                        href="https://www.youtube.com/embed/B6LaYgGogf0">
                        <div class="position-relative mb-2"><span class="badge bg-dark position-absolute bottom-0 end-0 mb-2 me-2">7:27</span><img alt="Video cover" class="w-100"
                                                                                                                                                   src="{% static 'img/home/video/cover02.jpg' %}"/>
                        </div>
                        <h6 class="fs-sm pt-1">5 Super Useful Gadgets on Cartzilla You Must Have in 2020</h6></a></div>
                    <div class="col-lg-4 col-6 mb-3"><a class="d-block text-decoration-0 px-2" data-bs-toggle="video" data-lg-id="9c48916d-6fa2-45c1-b075-3de57be12332"
                                                        href="https://www.youtube.com/embed/kB-ROfRS9V4">
                        <div class="position-relative mb-2"><span class="badge bg-dark position-absolute bottom-0 end-0 mb-2 me-2">6:20</span><img alt="Video cover" class="w-100"
                                                                                                                                                   src="{% static 'img/home/video/cover03.jpg' %}"/>
                        </div>
                        <h6 class="fs-sm pt-1">Top 5 New Amazing Gadgets on Cartzilla You Must See</h6></a></div>
                    <div class="col-lg-4 col-6 mb-3 d-lg-none"><a class="d-block text-decoration-0 px-2" data-bs-toggle="video" data-lg-id="f5920d28-58a7-41b0-829d-8cf3cdf0c879"
                                                                  href="https://www.youtube.com/embed/sJK67XXE_Rg">
                        <div class="position-relative mb-2"><span class="badge bg-dark position-absolute bottom-0 end-0 mb-2 me-2">6:11</span><img alt="Video cover" class="w-100"
                                                                                                                                                   src="{% static 'img/home/video/cover04.jpg' %}"/>
                        </div>
                        <h6 class="fs-sm fw-bold pt-1">5 Amazing Construction Inventions and Working Tools Available...</h6></a></div>
                </div>
            </div>
        </div>
    </div>
</section>