{% load static %}
<header class="shadow-sm">
    <!-- Topbar-->
    <div class="topbar topbar-dark bg-dark">
        <div class="container">
            <div>
                {#                <div class="topbar-text dropdown disable-autohide"><a class="topbar-link dropdown-toggle" data-bs-toggle="dropdown" href="#"><img alt="English" class="me-2"#}
                {#                                                                                                                                                  src="{% static 'img/flags/en.png' %}" width="20' %}"/>Eng#}
                {#                    / $</a>#}
                {#                    <ul class="dropdown-menu my-1">#}
                {#                        <li class="dropdown-item">#}
                {#                            <select class="form-select form-select-sm">#}
                {#                                <option value="usd">$ USD</option>#}
                {#                                <option value="eur">€ EUR</option>#}
                {#                                <option value="ukp">£ UKP</option>#}
                {#                                <option value="jpy">¥ JPY</option>#}
                {#                            </select>#}
                {#                        </li>#}
                {#                        <li><a class="dropdown-item pb-1" href="#"><img alt="Français" class="me-2" src="{% static 'img/flags/fr.png' %}" width="20"/>Français</a></li>#}
                {#                        <li><a class="dropdown-item pb-1" href="#"><img alt="Deutsch" class="me-2" src="{% static 'img/flags/de.png' %}" width="20"/>Deutsch</a></li>#}
                {#                        <li><a class="dropdown-item" href="#"><img alt="Italiano" class="me-2" src="{% static 'img/flags/it.png' %}" width="20"/>Italiano</a></li>#}
                {#                    </ul>#}
                {#                </div>#}
                <div class="topbar-text text-nowrap d-none d-md-inline-block"><span
                        class="text-muted me-1">Available 24/7 at</span><a class="topbar-link"
                                                                           href="tel:00331697720">(00)
                    33 169 7720</a></div>
            </div>
            <div class="topbar-text dropdown d-md-none ms-auto"><a
                    class="topbar-link dropdown-toggle" data-bs-toggle="dropdown"
                    href="#">Wishlist</a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="{% url 'account:wishlist' %}"><i
                            class="ci-heart text-muted me-2"></i>Wishlist (<span
                            class="wishlist-count">{% if user.is_authenticated %}{{ user.wishlist_set.all.count }}{% else %}0{% endif %}</span>)</a>
                    </li>


                </ul>
            </div>
            <div class="d-none d-md-block ms-3 text-nowrap"><a
                    class="topbar-link d-none d-md-inline-block"
                    href="{% url 'account:wishlist' %}"><i
                    class="ci-heart mt-n1"></i>Wishlist (<span
                    class="wishlist-count">{% if user.is_authenticated %}{{ user.wishlist_set.all.count }}{% else %}0{% endif %}</span>)</a>

            </div>
        </div>
    </div>
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
    <div class="navbar-sticky bg-light">
        <div class="navbar navbar-expand-lg navbar-light">
            <div class="container"><a class="navbar-brand d-none d-sm-block me-3 flex-shrink-0"
                                      href="{% url 'home:home' %}"><img alt="Cartzilla"
                                                                        src="{% static 'img/logo-dark.png' %}"
                                                                        width="142"/></a><a
                    class="navbar-brand d-sm-none me-2" href="{% url 'home:home' %}"><img
                    alt="Cartzilla" src="{% static 'img/logo-icon.png' %}" width="74"/></a>
                <!-- Search-->
                <div class="input-group d-none d-lg-flex flex-nowrap mx-4"><i
                        class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                    <input class="form-control rounded-start w-100"
                           placeholder="Search for products" type="text"/>
                    <select class="form-select flex-shrink-0" style="width: 10.5rem;">
                        <option>All categories</option>
                        {% for category in product_categories %}
                            <option>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Toolbar-->
                <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">
                    <button class="navbar-toggler" data-bs-target="#navbarCollapse"
                            data-bs-toggle="collapse" type="button"><span
                            class="navbar-toggler-icon"></span></button>
                    <a class="navbar-tool navbar-stuck-toggler" href="#"><span
                            class="navbar-tool-tooltip">Toggle menu</span>
                        <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-menu"></i>
                        </div>
                    </a>

                    <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2"
                       {% if request.user.is_authenticated %}href="{% url 'account:orders' %}"
                       {% else %}data-bs-toggle="modal" href="#signin-modal"{% endif %}>
                        <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-user"></i>
                        </div>
                        <div class="navbar-tool-text ms-n3"><small>Hello,
                            {% if request.user.is_authenticated %}
                                {{ request.user.username }}{% else %}Sign in{% endif %}</small>My
                            Account
                        </div>
                    </a>

                    <div class="navbar-tool dropdown ms-3">
                        <a class="navbar-tool-icon-box bg-secondary dropdown-toggle"
                           href="{% url 'orders:cart' %}">
                            <span class="navbar-tool-label total-items">
                                {% if user.is_authenticated %}
                                    {% for order in  user.order_set.all %}
                                        {% if order.status == -1 %}
                                            {{ order.total_items }}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    0
                                {% endif %}
                            </span>
                            <i class="navbar-tool-icon ci-cart"></i>
                        </a>

                        <a class="navbar-tool-text" href="{% url 'orders:cart' %}">
                            <small>My Cart</small>
                            <span class="total-amount">
                                {% if request.user.is_authenticated %}
                                    {% for order in  request.user.order_set.all %}
                                        {% if order.status == -1 %}
                                            ${{ order.total_amount }}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    $0
                                {% endif %}
                            </span>
                        </a>

                        <!-- Cart dropdown-->
                        <div class="dropdown-menu dropdown-menu-end">
                            <div class="widget widget-cart px-3 pt-2 pb-3" style="width: 20rem;">
                                <div style="height: 15rem;" data-simplebar=""
                                     data-simplebar-auto-hide="false">

                                    <div id="header-cart-items">
                                        <!-- Product in cart -->
                                        {% for order in request.user.order_set.all %}
                                            {% if order.status == -1 %}
                                                {% for order_item in order.orderitem_set.all %}
                                                    <div class="widget-cart-item p-2 border-bottom">
                                                        <button aria-label="Remove"
                                                                class="btn-close text-danger delete-from-cart"
                                                                type="button" data-action="delete"
                                                                data-variant="{{ order_item.product_variant.id }}">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                        <div class="d-flex align-items-center"><a
                                                                class="d-block flex-shrink-0"
                                                                href="{% url 'products:product' order_item.product_variant.product.slug %}?version={{ order_item.product_variant.version.name }}&color={{ order_item.product_variant.color.name }}">
                                                            <img alt="Product"
                                                                 src="{{ order_item.product_variant.product.image.url }}"
                                                                 width="64"/></a>
                                                            <div class="ps-2">
                                                                <h6 class="widget-product-title"><a
                                                                        href="{% url 'products:product' order_item.product_variant.product.slug %}?version={{ order_item.product_variant.version.name }}&color={{ order_item.product_variant.color.name }}">{{ order_item.product_variant.product.name }}
                                                                    ({{ order_item.product_variant.version.name }}, {{ order_item.product_variant.color.name }})</a>
                                                                </h6>
                                                                <div class="widget-product-meta"><span
                                                                        class="text-accent me-2">${{ order_item.product_variant.price }}</span><span
                                                                        class="text-muted">x {{ order_item.quantity }}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="d-flex flex-wrap justify-content-between align-items-center py-3">
                                    <div class="fs-sm me-2 py-2"><span
                                            class="text-muted">Subtotal:</span>

                                        <span class="text-accent fs-base ms-1 total-amount">
              {% if request.user.is_authenticated %}
                  {% for order in  request.user.order_set.all %}
                      {% if order.status == -1 %}
                          ${{ order.total_amount }}
                      {% endif %}
                  {% endfor %}
              {% else %}
                  $0
              {% endif %}
          </span>

                                    </div>
                                    <a class="btn btn-outline-secondary btn-sm"
                                       href="{% url 'orders:cart' %}">Expand cart<i
                                            class="ci-arrow-right ms-1 me-n1"></i></a>
                                </div>
                                <a class="btn btn-primary btn-sm d-block w-100"
                                   href="{% url 'orders:checkout_details' %}"><i
                                        class="ci-card me-2 fs-base align-middle"></i>Checkout</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-expand-lg navbar-light navbar-stuck-menu mt-n2 pt-0 pb-2">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <!-- Search-->
                    <div class="input-group d-lg-none my-3"><i
                            class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                        <input class="form-control rounded-start" placeholder="Search for products"
                               type="text"/>
                    </div>
                    <!-- Departments menu-->
                    <ul class="navbar-nav navbar-mega-nav pe-lg-2 me-lg-2">
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle ps-lg-0"
                                                         data-bs-auto-close="outside"
                                                         data-bs-toggle="dropdown" href="#"><i
                                class="ci-menu align-middle mt-n1 me-2"></i>Departments</a>

                            <ul class="dropdown-menu">

                                <!-- Parent Category -->
                                {% for category in product_categories %}
                                    {% if not category.parent %}
                                        <li class="dropdown mega-dropdown">
                                    <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">
                                        <i class="{{ category.icon_class }} opacity-60 fs-lg mt-n1 me-2"></i>
                                        {{ category.name }}
                                    </a>
                                    <div class="dropdown-menu p-0">
                                        <div class="d-flex flex-wrap flex-sm-nowrap px-2">
                                            <div class="mega-dropdown-column pt-4 pb-0 py-sm-4 px-3">
                                                <div class="widget widget-links">
                                                    <a class="widget-list-link" href="{% url 'products:products' %}?category={{ category.slug }}"><h6 class="fs-base mb-3">View all</h6></a>
                                                    <ul class="widget-list">

                                                        <!-- Child Category -->
                                                        {% for child_category in product_categories %}
                                                            {% if child_category.parent == category %}
                                                                <li class="widget-list-item pb-1">
                                                                    <a class="widget-list-link" href="{% url 'products:products' %}?category={{ child_category.slug }}">
                                                                        {{ child_category.name }}
                                                                    </a>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}

                                                    </ul>
                                                </div>
                                            </div>

{#                                            <div class="mega-dropdown-column py-4 px-3">#}
{#                                                <div class="widget widget-links">#}
{#                                                    <h6 class="fs-base mb-3">Accessories</h6>#}
{#                                                    <ul class="widget-list">#}
{#                                                        <li class="widget-list-item pb-1"><a#}
{#                                                                class="widget-list-link"#}
{#                                                                href="#">Monitors</a>#}
{#                                                        </li>#}
{#                                                        <li class="widget-list-item pb-1"><a#}
{#                                                                class="widget-list-link" href="#">Bags,#}
{#                                                            Cases &amp; Sleeves</a></li>#}
{#                                                        <li class="widget-list-item pb-1"><a#}
{#                                                                class="widget-list-link"#}
{#                                                                href="#">Batteries</a>#}
{#                                                        </li>#}
{#                                                        <li class="widget-list-item pb-1"><a#}
{#                                                                class="widget-list-link" href="#">Charges#}
{#                                                            &amp; Adapters</a></li>#}
{#                                                        <li class="widget-list-item pb-1"><a#}
{#                                                                class="widget-list-link" href="#">Cooling#}
{#                                                            Pads</a></li>#}
{#                                                        <li class="widget-list-item pb-1"><a#}
{#                                                                class="widget-list-link"#}
{#                                                                href="#">Mounts</a>#}
{#                                                        </li>#}
{#                                                        <li class="widget-list-item pb-1"><a#}
{#                                                                class="widget-list-link" href="#">Replacement#}
{#                                                            Screens</a></li>#}
{#                                                        <li class="widget-list-item pb-1"><a#}
{#                                                                class="widget-list-link" href="#">Security#}
{#                                                            Locks</a></li>#}
{#                                                        <li class="widget-list-item pb-1"><a#}
{#                                                                class="widget-list-link"#}
{#                                                                href="#">Stands</a>#}
{#                                                        </li>#}
{#                                                    </ul>#}
{#                                                </div>#}
{#                                            </div>#}

                                            {% if category.product_set.first %}
                                                <div class="mega-dropdown-column d-none d-lg-block py-4 text-center">
                                                    <a class="d-block mb-2" href="#"><img
                                                            alt="Computers &amp; Accessories"
                                                            src="{{ category.product_set.first.image.url }}"/></a>
                                                    <div class="fs-sm mb-3">Starting from <span
                                                            class="fw-medium">${{ category.product_set.first.default_variant.price }}</span>
                                                    </div>
                                                    <a class="btn btn-primary btn-shadow btn-sm"
                                                       href="{% url 'products:products' %}?category={{ category.slug }}">See offers<i class="ci-arrow-right fs-xs ms-1"></i></a>
                                                </div>
                                            {% endif %}


                                        </div>
                                    </div>
                                </li>
                                    {% endif %}
                                {% endfor %}
                                <!-- End Parent Category -->

                            </ul>
                        </li>


                    </ul>
                    <!-- Primary menu-->
                    <ul class="navbar-nav">
                        <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'home:home' %}">Home</a></li>

                        <li class="nav-item {% if request.resolver_match.url_name == 'products' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'products:products' %}">Products</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>