{% extends 'base.html' %}
{% load static %}
{% block title %}Products{% endblock %}
{% block extra_css %}
    <link href="{% static 'vendor/nouislider/dist/nouislider.min.css' %}" media="screen"
          rel="stylesheet"/>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'vendor/nouislider/dist/nouislider.min.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="page-title-overlap bg-dark pt-4">
        <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
            <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                        <li class="breadcrumb-item"><a class="text-nowrap" href="index.html"><i
                                class="ci-home"></i>Home</a></li>
                        <li class="breadcrumb-item text-nowrap"><a href="#">Shop</a>
                        </li>
                        <li aria-current="page"
                            class="breadcrumb-item text-nowrap active">Grid left sidebar
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
                <h1 class="h3 text-light mb-0">Shop grid left sidebar</h1>
            </div>
        </div>
    </div>
    <div class="container pb-5 mb-2 mb-md-4">
        <div class="row">
            <!-- Sidebar-->
            <aside class="col-lg-4">

                <div class="offcanvas offcanvas-collapse bg-white w-100 rounded-3 shadow-lg py-1"
                     id="shop-sidebar" style="max-width: 22rem;">
                    <div class="offcanvas-header align-items-center shadow-sm">
                        <h2 class="h5 mb-0">Filters</h2>
                        <button class="btn-close ms-auto" type="button" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body py-grid-gutter px-lg-grid-gutter">
                        <!-- Categories-->
                        <div class="widget widget-categories mb-4 pb-4 border-bottom">
                            <h3 class="widget-title">Categories</h3>
                            <div class="accordion mt-n1" id="shop-categories">


                                <!-- Parent Category-->
                                {% for category in product_categories %}
                                    {% if not category.parent %}
                                        <div class="accordion-item">
                                            <h3 class="accordion-header">
                                                <a class="accordion-button collapsed" href="#{{ category.slug }}" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="{{ category.slug }}">{{ category.name }}</a>
                                            </h3>
                                            <div class="accordion-collapse collapse" id="{{ category.slug }}" data-bs-parent="#shop-categories">
                                                <div class="accordion-body">
                                                    <div class="widget widget-links widget-filter">
                                                        <div class="input-group input-group-sm mb-2">
                                                            <input class="widget-filter-search form-control rounded-end" type="text" placeholder="Search">
                                                            <i class="ci-search position-absolute top-50 end-0 translate-middle-y fs-sm me-3"></i>
                                                        </div>
                                                        <ul class="widget-list widget-filter-list pt-1" style="height: 12rem;" data-simplebar="" data-simplebar-auto-hide="false">

                                                            <!-- Select Parent Category -->
                                                            <li class="widget-list-item widget-filter-item">
                                                                <a class="widget-list-link d-flex justify-content-between align-items-center" href="#" onclick="updateURL('category', '{{ category.name }}')">
                                                                    <span class="widget-filter-item-text">View all</span>
                                                                    <span class="fs-xs text-muted ms-3">{{ category.product_set.count }}</span></a>
                                                            </li>

                                                            <!-- Select Child Category -->
                                                            {% for child_category in product_categories %}
                                                                {% if child_category.parent == category %}
                                                                    <li class="widget-list-item widget-filter-item">
                                                                        <a class="widget-list-link d-flex justify-content-between align-items-center" href="#" onclick="updateURL('category', '{{ child_category.name }}')">
                                                                            <span class="widget-filter-item-text">{{ child_category.name }}</span>
                                                                            <span class="fs-xs text-muted ms-3">{{ child_category.product_set.count }}</span></a>
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}



                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    {% endif %}
                                {% endfor %}
                                <!-- End Parent Category -->





                            </div>
                        </div>
                        <!-- Price range-->
                        <div class="widget mb-4 pb-4 border-bottom">
                            <h3 class="widget-title">Price</h3>
                            <div class="range-slider" data-start-min="{{ min_price }}"
                                 data-start-max="{{ max_price }}" data-min="0"
                                 data-max="{{ filter_max_price }}" data-step="1">
                                <div class="range-slider-ui"></div>
                                <div class="d-flex pb-1">
                                    <div class="w-50 pe-2 me-2">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-text">$</span>
                                            <input class="form-control range-slider-value-min" type="text">
                                        </div>
                                    </div>
                                    <div class="w-50 ps-2">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-text">$</span>
                                            <input class="form-control range-slider-value-max" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Filter by Brand-->
                        <div class="widget widget-filter">
                            <h3 class="widget-title">Brand</h3>
                            <div class="input-group input-group-sm mb-2">
                                <input class="widget-filter-search form-control rounded-end pe-5"
                                       type="text"
                                       placeholder="Search"><i
                                    class="ci-search position-absolute top-50 end-0 translate-middle-y fs-sm me-3"></i>
                            </div>
                            <ul class="widget-list widget-filter-list list-unstyled pt-1"
                                style="max-height: 11rem;" data-simplebar=""
                                data-simplebar-auto-hide="false">

                                {% for brand in product_brands %}
                                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                                        <div class="form-check">
                                            <input class="form-check-input brand-checkbox" type="checkbox"
                                                   id="{{ brand.slug }}" {% if brand.name in brands %}checked{% endif %} value="{{ brand.name }}">
                                            <label class="form-check-label widget-filter-item-text"
                                                   for="{{ brand.slug }}">{{ brand.name }}</label>
                                        </div>
                                        <span class="fs-xs text-muted">{{ brand.product_set.count }}</span>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                        <!-- Filter by Size-->
                        {#                        <div class="widget widget-filter mb-4 pb-4 border-bottom">#}
                        {#                            <h3 class="widget-title">Size</h3>#}
                        {#                            <div class="input-group input-group-sm mb-2">#}
                        {#                                <input class="widget-filter-search form-control rounded-end pe-5" type="text"#}
                        {#                                       placeholder="Search"><i#}
                        {#                                    class="ci-search position-absolute top-50 end-0 translate-middle-y fs-sm me-3"></i>#}
                        {#                            </div>#}
                        {#                            <ul class="widget-list widget-filter-list list-unstyled pt-1"#}
                        {#                                style="max-height: 11rem;" data-simplebar="" data-simplebar-auto-hide="false">#}
                        {#                                <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">#}
                        {#                                    <div class="form-check">#}
                        {#                                        <input class="form-check-input" type="checkbox" id="size-xs">#}
                        {#                                        <label class="form-check-label widget-filter-item-text"#}
                        {#                                               for="size-xs">XS</label>#}
                        {#                                    </div>#}
                        {#                                    <span class="fs-xs text-muted">34</span>#}
                        {#                                </li>#}
                        {#                                <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">#}
                        {#                                    <div class="form-check">#}
                        {#                                        <input class="form-check-input" type="checkbox" id="size-s">#}
                        {#                                        <label class="form-check-label widget-filter-item-text"#}
                        {#                                               for="size-s">S</label>#}
                        {#                                    </div>#}
                        {#                                    <span class="fs-xs text-muted">57</span>#}
                        {#                                </li>#}
                        {#                                <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">#}
                        {#                                    <div class="form-check">#}
                        {#                                        <input class="form-check-input" type="checkbox" id="size-m">#}
                        {#                                        <label class="form-check-label widget-filter-item-text"#}
                        {#                                               for="size-m">M</label>#}
                        {#                                    </div>#}
                        {#                                    <span class="fs-xs text-muted">198</span>#}
                        {#                                </li>#}
                        {#                                <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">#}
                        {#                                    <div class="form-check">#}
                        {#                                        <input class="form-check-input" type="checkbox" id="size-l">#}
                        {#                                        <label class="form-check-label widget-filter-item-text"#}
                        {#                                               for="size-l">L</label>#}
                        {#                                    </div>#}
                        {#                                    <span class="fs-xs text-muted">72</span>#}
                        {#                                </li>#}
                        {#                                <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">#}
                        {#                                    <div class="form-check">#}
                        {#                                        <input class="form-check-input" type="checkbox" id="size-xl">#}
                        {#                                        <label class="form-check-label widget-filter-item-text"#}
                        {#                                               for="size-xl">XL</label>#}
                        {#                                    </div>#}
                        {#                                    <span class="fs-xs text-muted">46</span>#}
                        {#                                </li>#}
                        {#                                <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">#}
                        {#                                    <div class="form-check">#}
                        {#                                        <input class="form-check-input" type="checkbox" id="size-39">#}
                        {#                                        <label class="form-check-label widget-filter-item-text"#}
                        {#                                               for="size-39">39</label>#}
                        {#                                    </div>#}
                        {#                                    <span class="fs-xs text-muted">112</span>#}
                        {#                                </li>#}
                        {#                                <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">#}
                        {#                                    <div class="form-check">#}
                        {#                                        <input class="form-check-input" type="checkbox" id="size-40">#}
                        {#                                        <label class="form-check-label widget-filter-item-text"#}
                        {#                                               for="size-40">40</label>#}
                        {#                                    </div>#}
                        {#                                    <span class="fs-xs text-muted">85</span>#}
                        {#                                </li>#}
                        {#                                <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">#}
                        {#                                    <div class="form-check">#}
                        {#                                        <input class="form-check-input" type="checkbox" id="size-41">#}
                        {#                                        <label class="form-check-label widget-filter-item-text"#}
                        {#                                               for="size-40">41</label>#}
                        {#                                    </div>#}
                        {#                                    <span class="fs-xs text-muted">210</span>#}
                        {#                                </li>#}
                        {#                                <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">#}
                        {#                                    <div class="form-check">#}
                        {#                                        <input class="form-check-input" type="checkbox" id="size-42">#}
                        {#                                        <label class="form-check-label widget-filter-item-text"#}
                        {#                                               for="size-42">42</label>#}
                        {#                                    </div>#}
                        {#                                    <span class="fs-xs text-muted">57</span>#}
                        {#                                </li>#}
                        {#                                <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">#}
                        {#                                    <div class="form-check">#}
                        {#                                        <input class="form-check-input" type="checkbox" id="size-43">#}
                        {#                                        <label class="form-check-label widget-filter-item-text"#}
                        {#                                               for="size-43">43</label>#}
                        {#                                    </div>#}
                        {#                                    <span class="fs-xs text-muted">30</span>#}
                        {#                                </li>#}
                        {#                                <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">#}
                        {#                                    <div class="form-check">#}
                        {#                                        <input class="form-check-input" type="checkbox" id="size-44">#}
                        {#                                        <label class="form-check-label widget-filter-item-text"#}
                        {#                                               for="size-44">44</label>#}
                        {#                                    </div>#}
                        {#                                    <span class="fs-xs text-muted">61</span>#}
                        {#                                </li>#}
                        {#                                <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">#}
                        {#                                    <div class="form-check">#}
                        {#                                        <input class="form-check-input" type="checkbox" id="size-45">#}
                        {#                                        <label class="form-check-label widget-filter-item-text"#}
                        {#                                               for="size-45">45</label>#}
                        {#                                    </div>#}
                        {#                                    <span class="fs-xs text-muted">23</span>#}
                        {#                                </li>#}
                        {#                                <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">#}
                        {#                                    <div class="form-check">#}
                        {#                                        <input class="form-check-input" type="checkbox" id="size-46">#}
                        {#                                        <label class="form-check-label widget-filter-item-text"#}
                        {#                                               for="size-46">46</label>#}
                        {#                                    </div>#}
                        {#                                    <span class="fs-xs text-muted">19</span>#}
                        {#                                </li>#}
                        {#                                <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">#}
                        {#                                    <div class="form-check">#}
                        {#                                        <input class="form-check-input" type="checkbox" id="size-47">#}
                        {#                                        <label class="form-check-label widget-filter-item-text"#}
                        {#                                               for="size-47">47</label>#}
                        {#                                    </div>#}
                        {#                                    <span class="fs-xs text-muted">15</span>#}
                        {#                                </li>#}
                        {#                                <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">#}
                        {#                                    <div class="form-check">#}
                        {#                                        <input class="form-check-input" type="checkbox" id="size-48">#}
                        {#                                        <label class="form-check-label widget-filter-item-text"#}
                        {#                                               for="size-48">48</label>#}
                        {#                                    </div>#}
                        {#                                    <span class="fs-xs text-muted">12</span>#}
                        {#                                </li>#}
                        {#                                <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">#}
                        {#                                    <div class="form-check">#}
                        {#                                        <input class="form-check-input" type="checkbox" id="size-49">#}
                        {#                                        <label class="form-check-label widget-filter-item-text"#}
                        {#                                               for="size-49">49</label>#}
                        {#                                    </div>#}
                        {#                                    <span class="fs-xs text-muted">8</span>#}
                        {#                                </li>#}
                        {#                                <li class="widget-filter-item d-flex justify-content-between align-items-center">#}
                        {#                                    <div class="form-check">#}
                        {#                                        <input class="form-check-input" type="checkbox" id="size-50">#}
                        {#                                        <label class="form-check-label widget-filter-item-text"#}
                        {#                                               for="size-50">50</label>#}
                        {#                                    </div>#}
                        {#                                    <span class="fs-xs text-muted">6</span>#}
                        {#                                </li>#}
                        {#                            </ul>#}
                        {#                        </div>#}


                        <!-- Filter by Color-->
                        {#                        <div class="widget">#}
                        {#                            <h3 class="widget-title">Color</h3>#}
                        {#                            <div class="d-flex flex-wrap">#}
                        {#                                <div class="form-check form-option text-center mb-2 mx-1" style="width: 4rem;">#}
                        {#                                    <input class="form-check-input" type="checkbox" id="color-blue-gray">#}
                        {#                                    <label class="form-option-label rounded-circle" for="color-blue-gray"><span#}
                        {#                                            class="form-option-color rounded-circle"#}
                        {#                                            style="background-color: #b3c8db;"></span></label>#}
                        {#                                    <label class="d-block fs-xs text-muted mt-n1"#}
                        {#                                           for="color-blue-gray">Blue-gray</label>#}
                        {#                                </div>#}
                        {#                                <div class="form-check form-option text-center mb-2 mx-1" style="width: 4rem;">#}
                        {#                                    <input class="form-check-input" type="checkbox" id="color-burgundy">#}
                        {#                                    <label class="form-option-label rounded-circle" for="color-burgundy"><span#}
                        {#                                            class="form-option-color rounded-circle"#}
                        {#                                            style="background-color: #ca7295;"></span></label>#}
                        {#                                    <label class="d-block fs-xs text-muted mt-n1"#}
                        {#                                           for="color-burgundy">Burgundy</label>#}
                        {#                                </div>#}
                        {#                                <div class="form-check form-option text-center mb-2 mx-1" style="width: 4rem;">#}
                        {#                                    <input class="form-check-input" type="checkbox" id="color-teal">#}
                        {#                                    <label class="form-option-label rounded-circle" for="color-teal"><span#}
                        {#                                            class="form-option-color rounded-circle"#}
                        {#                                            style="background-color: #91c2c3;"></span></label>#}
                        {#                                    <label class="d-block fs-xs text-muted mt-n1" for="color-teal">Teal</label>#}
                        {#                                </div>#}
                        {#                                <div class="form-check form-option text-center mb-2 mx-1" style="width: 4rem;">#}
                        {#                                    <input class="form-check-input" type="checkbox" id="color-brown">#}
                        {#                                    <label class="form-option-label rounded-circle" for="color-brown"><span#}
                        {#                                            class="form-option-color rounded-circle"#}
                        {#                                            style="background-color: #9a8480;"></span></label>#}
                        {#                                    <label class="d-block fs-xs text-muted mt-n1"#}
                        {#                                           for="color-brown">Brown</label>#}
                        {#                                </div>#}
                        {#                                <div class="form-check form-option text-center mb-2 mx-1" style="width: 4rem;">#}
                        {#                                    <input class="form-check-input" type="checkbox" id="color-coral-red">#}
                        {#                                    <label class="form-option-label rounded-circle" for="color-coral-red"><span#}
                        {#                                            class="form-option-color rounded-circle"#}
                        {#                                            style="background-color: #ff7072;"></span></label>#}
                        {#                                    <label class="d-block fs-xs text-muted mt-n1"#}
                        {#                                           for="color-coral-red">Coral red</label>#}
                        {#                                </div>#}
                        {#                                <div class="form-check form-option text-center mb-2 mx-1" style="width: 4rem;">#}
                        {#                                    <input class="form-check-input" type="checkbox" id="color-navy">#}
                        {#                                    <label class="form-option-label rounded-circle" for="color-navy"><span#}
                        {#                                            class="form-option-color rounded-circle"#}
                        {#                                            style="background-color: #696dc8;"></span></label>#}
                        {#                                    <label class="d-block fs-xs text-muted mt-n1" for="color-navy">Navy</label>#}
                        {#                                </div>#}
                        {#                                <div class="form-check form-option text-center mb-2 mx-1" style="width: 4rem;">#}
                        {#                                    <input class="form-check-input" type="checkbox" id="color-charcoal">#}
                        {#                                    <label class="form-option-label rounded-circle" for="color-charcoal"><span#}
                        {#                                            class="form-option-color rounded-circle"#}
                        {#                                            style="background-color: #4e4d4d;"></span></label>#}
                        {#                                    <label class="d-block fs-xs text-muted mt-n1"#}
                        {#                                           for="color-charcoal">Charcoal</label>#}
                        {#                                </div>#}
                        {#                                <div class="form-check form-option text-center mb-2 mx-1" style="width: 4rem;">#}
                        {#                                    <input class="form-check-input" type="checkbox" id="color-sky-blue">#}
                        {#                                    <label class="form-option-label rounded-circle" for="color-sky-blue"><span#}
                        {#                                            class="form-option-color rounded-circle"#}
                        {#                                            style="background-color: #8bcdf5;"></span></label>#}
                        {#                                    <label class="d-block fs-xs text-muted mt-n1"#}
                        {#                                           for="color-sky-blue">Sky blue</label>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                    </div>
                </div>
            </aside>

            <!-- Content  -->
            <section class="col-lg-8">
                <!-- Toolbar-->
                <div class="d-flex justify-content-center justify-content-sm-between align-items-center pt-2 pb-4 pb-sm-5">
                    <div class="d-flex flex-wrap">
                        <div class="d-flex align-items-center flex-nowrap me-3 me-sm-4 pb-3">
                            <label class="text-light opacity-75 text-nowrap fs-sm me-2 d-none d-sm-block"
                                   for="sorting">Sort by:</label>
                            <select class="form-select" id="sorting">
                                <option>Popularity</option>
                                <option>Low - Hight Price</option>
                                <option>High - Low Price</option>
                                <option>Average Rating</option>
                                <option>A - Z Order</option>
                                <option>Z - A Order</option>
                            </select><span
                                class="fs-sm text-light opacity-75 text-nowrap ms-2 d-none d-md-block">of 287 products</span>
                        </div>
                    </div>
                    <div class="d-flex pb-3"><a class="nav-link-style nav-link-light me-3" href="#"><i
                            class="ci-arrow-left"></i></a><span
                            class="fs-md text-light">1 / 5</span><a
                            class="nav-link-style nav-link-light ms-3" href="#"><i
                            class="ci-arrow-right"></i></a></div>
                    <div class="d-none d-sm-flex pb-3"><a
                            class="btn btn-icon nav-link-style bg-light text-dark disabled opacity-100 me-2"
                            href="#"><i class="ci-view-grid"></i></a><a
                            class="btn btn-icon nav-link-style nav-link-light"
                            href="shop-list-ls.html"><i class="ci-view-list"></i></a></div>
                </div>

                <!-- Products grid-->
                <div class="row mx-n2">
                    {% for product in products %}
                        <!-- Product-->
                        <div class="col-md-4 col-sm-6 px-2 mb-4">
                            <div class="card product-card">
                                {#                            <span class="badge bg-danger badge-shadow">Sale</span>#}
                                <button aria-label="Add to wishlist"
                                        class="btn-wishlist btn-sm edit-wishlist"
                                        data-bs-original-title="Add to wishlist"
                                        data-bs-placement="right" data-bs-toggle="tooltip"
                                        type="button" data-action="add"
                                        data-variant="{{ product.default_variant.id }}">
                                    <i class="ci-heart"></i>
                                </button>
                                <a class="card-img-top d-block overflow-hidden"
                                   href="{% url 'products:product' product.slug %}"><img
                                        alt="Product" src="{{ product.image.url }}"/></a>
                                <div class="card-body py-2"><a
                                        class="product-meta d-block fs-xs pb-1"
                                        href="#">{{ product.categories.first.name }}</a>
                                    <h3 class="product-title fs-sm"><a
                                            href="{% url 'products:product' product.slug %}">{{ product.name }}</a>
                                    </h3>
                                    <div class="d-flex justify-content-between">
                                        <div class="product-price">
                                        <span class="text-accent">${{ product.default_variant.price }}
{#                                            <small>50</small>#}
                                        </span>
                                            {#                                        <del class="fs-sm text-muted">38.<small>50</small></del>#}
                                        </div>
                                        <div class="star-rating">
                                            {% for star in product.get_stars %}
                                                {% if star == 1 %}
                                                    <i class="star-rating-icon ci-star-filled active"></i>
                                                {% elif star == 0.5 %}
                                                    <i class="star-rating-icon ci-star-half active"></i>
                                                {% else %}
                                                    <i class="star-rating-icon ci-star"></i>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body card-body-hidden">
                                    <div class="text-center pb-2">
                                        {% for product_variant in product.all_variants %}
                                            {% if product_variant.version == product.default_variant.version %}
                                                <div class="form-check form-option form-check-inline mb-2">
                                                    <input class="form-check-input"
                                                           id="color-{{ product_variant.color.id }}"
                                                           name="color-{{ product.id }}"
                                                           type="radio"/>
                                                    <label class="form-option-label rounded-circle"
                                                           for="color-{{ product_variant.color.id }}"><span
                                                            class="form-option-color rounded-circle"
                                                            style="background-color: {{ product_variant.color.color_code }};"></span></label>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                    <div class="d-flex mb-2">
                                        <select class="form-select form-select-sm me-2">
                                            <option>{{ product.default_variant.version.name }}</option>
                                            {% for product_variant in product.all_variants %}
                                                {% if product_variant.color == product.default_variant.color and product_variant.version != product.default_variant.version %}
                                                    <option>{{ product_variant.version.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <button class="btn btn-primary btn-sm buy-now" type="button"
                                                data-variant="{{ product.default_variant.id }}"
                                                data-quantity="1"><i
                                                class="ci-bag fs-sm me-1"></i>Buy now
                                        </button>
                                    </div>
                                    <div class="text-center "><a
                                            class="nav-link-style fs-ms add-to-cart"
                                            data-action="add"
                                            data-variant="{{ product.default_variant.id }}"
                                            href="#"><i
                                            class="ci-cart align-middle me-1"></i>Add to cart</a>
                                    </div>
                                </div>
                            </div>
                            <hr class="d-sm-none"/>
                        </div>
                    {% endfor %}

                </div>
                <hr class="my-3"/>
                <!-- Pagination-->
                <nav aria-label="Page navigation" class="d-flex justify-content-between pt-2">
                    <ul class="pagination">
                        {% if products.has_previous %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ products.previous_page_number }}"><i
                                    class="ci-arrow-left me-2"></i>Prev</a></li>
                        {% endif %}
                    </ul>
                    <ul class="pagination">
                        <li class="page-item d-sm-none"><span
                                class="page-link page-link-static">{{ products.number }} / {{ products.paginator.num_pages }}</span>
                        </li>

                        {% if products.has_previous %}
                            <li class="page-item d-none d-sm-block"><a class="page-link"
                                                                       href="?page={{ products.previous_page_number }}">{{ products.previous_page_number }}</a>
                            </li>
                        {% endif %}
                        <li aria-current="page" class="page-item active d-none d-sm-block"><span
                                class="page-link">{{ products.number }}<span
                                class="visually-hidden">(current)</span></span></li>
                        {% if products.has_next %}
                            <li class="page-item d-none d-sm-block"><a class="page-link"
                                                                       href="?page={{ products.next_page_number }}">{{ products.next_page_number }}</a>
                            </li>
                        {% endif %}

                    </ul>
                    <ul class="pagination">
                        {% if products.has_next %}
                            <li class="page-item"><a aria-label="Next" class="page-link"
                                                     href="?page={{ products.next_page_number }}">Next<i
                                    class="ci-arrow-right ms-2"></i></a></li>
                        {% endif %}
                    </ul>
                </nav>
            </section>
        </div>
    </div>
{% endblock %}